/* swiper */
.swiper-pagination {
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.3;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  width: 36px !important;
  height: 36px !important;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 4px 0 #000000;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important;
  font-weight: 900;
  color: #000000;
}

/* slick */
.slick-slider button {
  width: 32px;
  height: 32px;
  background: #3b3b3b;
  border-radius: 50%;
  z-index: 1;
}

.slick-slider button:hover {
  background: #000000;
  border-radius: 50%;
}

.slick-slider button.slick-prev {
  left: 15px;
}

.slick-slider button.slick-next {
  right: 15px;
}
